/* Header */
html, body {
  width: 100%;
  height: 100%;
  background-color: #08080c;
  overflow-x: hidden;
}

.header{
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-color: rgba(8,8,12,0.5);
    background-blend-mode: overlay;
}

section, footer, .header{
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-blend-mode: overlay;
}

header {
  background: url(../img/bg.jpg) no-repeat center center scroll;
  background-color: rgba(8,8,12,0.6);
}

.about {
  background: url(../img/about-bg.jpg) no-repeat center center scroll;
  /*Photo by Nadim Merrikh on Unsplash*/
  background-color: rgba(8,8,12,0.95);
}

.branding {
  background: url(../img/branding-bg.jpg) no-repeat center center scroll;
  /*Photo by Cynthia del Río on Unsplash*/
  background-color: rgba(8,8,12,0.85);
}

.lover {
  background: url(../img/lover-bg.jpg) no-repeat center center scroll;
  /*Photo by Saksham Gangwar on Unsplash*/
  background-color: rgba(8,8,12,0.95);
}

.publication {
  background: url(../img/publication-bg.jpg) no-repeat center center scroll;
  /*Photo by Andrew Neel on Unsplash*/
  background-color: rgba(8,8,12,0.95);
}

footer {
  background: url(../img/footer-bg.jpg) no-repeat center center scroll;
  /*Photo by Dino Reichmuth on Unsplash*/
  background-color: rgba(8,8,12,0.85);
}

.outline {
  background-color: rgba(8,8,12,0.60);
  background-blend-mode: overlay;
}

/* Desktop */

.exp-bg {
  background-color: #08080c;
}
/*
.bg2 {
  background-color: #080808;
}

/*------------
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fbfbfb;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/*
#Geek {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform-origin: 0% 0%;
  margin-left: -50px;
  margin-bottom: -160px;
  bottom: 0;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -4px;
  color: #fbfbfb;
  position:absolute;
  z-index: 5;
}*/
