html, body {
  word-spacing: 0.25em;
}
.text-bounding-box {
  text-align: left;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  text-indent: 0;
}
.regular-paragraph {
  width: 33em;
}
.initials,
abbr,
acronym {
  letter-spacing: 0.1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.286;
  margin-top: 1.286em;
  margin-bottom: 1.286em
}
.img-ten-lines {
  width: 15em;
}