/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,700;0,6..12,800;1,6..12,400;1,6..12,600;1,6..12,800&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,600;1,600;0,700;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,400;0,6..12,700;0,6..12,800;1,6..12,400;1,6..12,600;1,6..12,800&family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: zxcv;
  src: url(../assets/fonts/zxcv-Light.woff2)
}

@font-face {
  font-family: zxcv;
  font-style: italic;
  src: url(../assets/fonts/zxcv-LightItalic.woff2)
}

@font-face {
  font-family: vnwf-cr;
  src: url(../assets/fonts/NeueWorld-CondensedRegular.otf)
}

@font-face {
  font-family: vnwf-et;
  src: url(../assets/fonts/NeueWorld-ExtendedThin.otf)
}

@font-face {
  font-family: vnwf-scu;
  src: url(../assets/fonts/NeueWorld-SemiCondensedUltrabold.otf)
}

@font-face {
  font-family: vnwf-seb;
  src: url(../assets/fonts/NeueWorld-SemiExtendedBlack.otf)
}

@font-face {
  font-family: vnwf-scl;
  src: url(../assets/fonts/NeueWorld-SuperCondensedLight.otf)
}

@font-face {
  font-family: bc;
  src: url(../assets/fonts/bc-med.ttf)
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: 'zxcv', serif;
}

/* a[href] {
  cursor: url(../assets/images/cursors/rightArrow.png), auto;
} */

.talk-cursor {
  cursor: url(../assets/images/cursors/studioMicrophone.png), auto;
}

.newspaper-cursor {
  cursor: url(../assets/images/cursors/newspaper.png), auto;
}
